<h1>About Page</h1>
  <img src="https://avatars1.githubusercontent.com/u/7942367?v=3&u=cca55a36ca4952e6474648361dc1cf200b4201c2&s=140" alt="">
  <p>This project was created by <a href="https://www.linkedin.com/in/mirkosuzara">Miroslav Suzara</a> at <a href="http://www.codecore.ca">CodeCore Bootcamp</a>.</p>



